<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>

		<button onclick="document.getElementById('ImgIFCE').src='img/SolidarioIFCE.jpg'">Clique Aqui</button> <BR>

		<img id="ImgIFCE" src="img/LogoIFCE.png" style="width:400px">

	</body>
</html>